@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

html, body {
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Toggle Styles */

#viewport {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  height: 100%;
}

#content {
  padding-left: 250px;
  width: 100%;
  height: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
  cursor: default;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}


/* Mobile version */

@media screen and (max-width: 800px) and (min-height: 650px) {

  #viewport {
    height: calc(100vh - 10%);
  }

  #sidebar {
    display: none;
  }

  #content {
    padding-left: 0;
  }

  .navbar-nav {
    display: flex;
  }
}

.burger-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: #37474F;
  color: #fff;
}

.burger-nav header {
  width: 100%;
  height: 50px;
  background-color: #263238;
  font-size: 14px;
  line-height: 52px;
}

.burger-nav header button {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 14px;
}

.burger-nav header button:hover {
  color: #ddd;
  transition: color .200ms linear;
}

.burger-nav main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.burger-nav main a{
  background-color: #465d66;
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 18px;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 13px 0 0 0;
  margin: 5px 0 10px 0;
}

.burger-nav main a:hover {
  background-color: #394c53;
  transition: background-color .200ms linear;
}


