/* Modal for Dashboard*/
.info-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    width: 100vw;
    height: 100vh;
}

.info-modal__dialog {
    background-color: white;
    max-width: 1100px;
    min-height: 800px;
    border-radius: 5px;
    border: none;
    font-family: -apple-system, 'Roboto', sans-serif;
}

.info-modal__dialog header{
    height: 35px;
    margin: 5px;
    position: relative;
}

.info-modal__dialog header img{
    height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.info-modal__dialog main {
    width: 100%;
    height: calc(100% - 75px);
    display: flex;
}

.info-modal__dialog main .gallery {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.info-modal__dialog main .photo {
    width: 300px;
    height: 180px;
    margin: 20px;
    border: none;
    border-radius: 5px;
}

.info-modal__dialog footer {
    width: 100%;
    min-height: 25px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
}

.info-modal__dialog footer a{
    margin: auto 0 auto 20px;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
}

.info-modal__dialog main .offer {
    width: 700px;
    margin: 30px;
    position: relative;
    height: inherit;
    overflow-y: auto;
}

.info-modal__dialog .price {
    padding: 5px 20px;
    color: #dddddd;
    background-color: #263238;
    border: none;
    border-radius: 5px;
}

.info-modal__dialog main .offer-group-btn {
    display: flex;
}

.info-modal__dialog main .offer-group-btn .sold-offer {
    margin-left: auto;
    background-color: #FFEE58;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
}

.info-modal__dialog main .offer-group-btn .sold-offer:hover {
    background-color: #FDD835;
    transition: background-color .200ms ease;
}

.info-modal__dialog main .offer-group-btn .close-offer {
    margin: 0 20px 0 10px;
    background-color: #FF5722;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
}

.info-modal__dialog main .offer-group-btn .close-offer:hover {
    background-color: #E64A19;
    transition: background-color .200ms ease;
}

/* Modal for Library*/
._modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    width: 100vw;
    height: 100vh;
}

._modal__dialog {
    background-color: white;
    min-width: 400px;
    max-width: 1100px;
    max-height: 800px;
    border-radius: 5px;
    border: none;
    font-family: -apple-system, 'Roboto', sans-serif;
}

/* Photo description */
.photo-modal {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-modal__picture {
    width: 400px;
    height: 250px;
    border: none;
    border-radius: 3px;
}

.photo-modal__description {
    width: 400px;
    line-height: 2.0;
}
