* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;
    display: flex;
    overflow-x: hidden;
}

#viewport {
    width: 100vw;
    margin: 0 auto;
}

.backlink {
    height: 50px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
}

.backlink a {
    text-decoration: none;
    font-weight: 400;
    margin: auto 0 auto 10px;
}

h2 {
    font-weight: 500;
    font-size: 28px;
}

.offer-inputs {
    width: 90%;
    margin: 0 auto;
}

.service-btn {
    border: 1px solid #2d2d2d;
    background-color: #fff;
    color: #263238;font-size: 14px;
    padding: 5px 15px;
    border-radius: 15px;
}

.service-btn:hover {
    background-color: #eaeaea;
    padding: 5px 15px;
    transition: background-color 200ms ease;
}

.service-btn.added {
    background-color: #007bff;
    color: #dddddd;
    font-size: 14px;
    padding: 6px 16px;
    border: none;
    border-radius: 15px;
}

.service-btn.added:hover {
    background-color: #0069d9;
    padding: 6px 16px;
    transition: background-color 200ms ease;
}

.dropdown-item-button, .dropdown-toggle.btn.btn-secondary, .dropdown, .dropdown-menu.show {
    width: 99% !important;
}


/* Divs */

div#having {
    width: 100%;
    padding-left: 2%;
}

div#having span {
    padding-left: 10px;
}

.photo-watcher {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.photo-watcher__item {
    width: 160px;
    height: 100px;
    margin: 10px;
}


@media screen and (max-width: 800px) and (min-height: 650px) {
    h2 {
        text-align: center;
    }
}
