<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome AdPoster / Sign in</title>
    <!-- Style  -->
    <link rel="stylesheet" href="/public/style/login.css">
    <!-- Favicons  -->
    <link rel="apple-touch-icon" sizes="180x180" href="/public/enter-favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/enter-favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/enter-favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/enter-favicon/site.webmanifest">
    <!-- Meta  -->
    <meta property="og:title" content="Welcome AdPoster / Sign in">
    <meta property="og:site_name" content="AdPoster">
    <meta property="og:url" content="/login">
    <meta property="og:description" content="Вход в платформу AdPoster">
    <meta property="og:image" content="/public/enter-favicon/favicon-32x32.png">
</head>
<body class="align">
    <div class="grid align__item">
        <div class="register">
            <h2>Вход</h2>
                <form action="/" method="post" class="form">
                    <div class="form__field">
                        <label aria-label="password" for="login">
                            <input id="login" name="login" type="text" placeholder="Логин" />
                        </label>
                    </div>
                    <div class="form__field">
                        <label aria-label="password" for="pass">
                            <input id="pass" name="password" type="password" placeholder="Пароль" />
                        </label>
                    </div>
                    <div class="form__field">
                        <input type="submit" value="Войти">
                    </div>
                </form>
        </div>
    </div>
</body>
</html>